html {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.meow-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
}

.meow-header h2 {
    color: white;
    font-weight: 100;
    margin-left: 0.25rem;
}

.meow-header label {
    color: white;
    align-self: center;
    margin-left: 2rem;
}

.meow-header #meow-search {
    height: 2rem;
    margin-left: 5rem;
    margin-right: 2.5rem;
    align-self: center;
    justify-self: end;
}

#meow-search::placeholder {
    text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  /* border: 1px solid orange; */
  margin: 0 auto;
  justify-content: center;
}

.card-container {
  width: 350px;
  height: 600px;
  margin: 10px;
  border: lightgray solid;
  border-width: 0.1rem;
  border-radius: 10px;
}

.img-container {
    height: 300px;
    
}

.cat-img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

/* div */
.meow-div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/* .cat-name {
    /* margin-left: 0.5rem;
    margin-right: 0.5rem; /
} */

/* p */
.cat-desc {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.cat-profile-btn {
    background-color: darkslategray;
    color: white;
    font-weight: 200;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

